.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #121212;
  color: #ffffff;
  border-bottom: 1px solid #bb86fc;
  height: 55px;
}

.title {
  margin-top: 45px;
  font-size: 1.5em;
  color: #ffffff;
}
