.avatar-container {
    margin-bottom: 5px; /* Ajuste o espaço abaixo do avatar, se necessário */
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #00FF00; /* Fina linha verde em volta */
  }
  